<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Diebetic prediction</title>
    <link rel="stylesheet" href="../static/style/style1.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid  " id='main'>
        <div class="bg-dark">
            <nav class="navbar navbar-light bg-bg-dark ">
                <form class="form-inline">
                    <a href="{{ url_for('home') }}" class="btn btn-sm btn-outline-secondary" >Home</a>
                    <a href="{{ url_for('about') }}" class="d-inline p-2 bg-primary text-white" >About</a>
                </form>
            </nav>

        </div>
        <div class="container-fluid      bg-dark text-dark ">
            <div class="background">
                <h1 class="heading">
                    What is Diabetes?
                </h1>
                <p class="paragraph fs-4">
                    Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high.
                    Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made
                    by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your
                    body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your
                    blood and doesn’t reach your cells.

                    Over time, having too much glucose in your blood can cause health problems. Although diabetes has no
                    cure, you can take steps to manage your diabetes and stay healthy.

                    Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest that
                    someone doesn’t really have diabetes or has a less serious case, but every case of diabetes is
                    serious.
                </p>
                <h2 class="heading">
                    What are the different types of diabetes?
                </h2>
                <p class="paragraph fs-4"> The most common types of diabetes are type 1, type 2, and gestational
                    diabetes.</p>

                <h3 class="heading">Type 1 diabetes</h3>
                <p class="paragraph fs-4">If you have type 1 diabetes, your body does not make insulin. Your immune
                    system attacks and destroys the cells in your pancreas that make insulin. Type 1 diabetes is usually
                    diagnosed in children and young adults,
                    although it can appear at any age. People with type 1 diabetes need to take insulin every day to
                    stay alive.</p>

                <h3 class="heading">Type 2 diabetes</h3>
                <p class="paragraph fs-4">If you have type 2 diabetes, your body does not make or use insulin well. You
                    can develop type 2 diabetes at any age, even during childhood. However, this type of diabetes occurs
                    most often in middle-aged and older people. Type 2 is the most common type of diabetes.
                </p>
                <h3 class="heading">Gestational diabetes</h3>
                <p class="paragraph fs-4">Gestational diabetes develops in some women when they are pregnant. Most of
                    the time, this type of diabetes goes away after the baby is born. However, if you’ve had gestational
                    diabetes, you have a greater chance of developing type 2 diabetes later in life. Sometimes diabetes
                    diagnosed during pregnancy is actually type 2 diabetes.
                </p>
                <h3 class="heading">Other types of diabetes
                </h3>
                <p class="paragraph fs-4">Less common types include monogenic diabetes, which is an inherited form of
                    diabetes, and cystic fibrosis-related diabetes
                </p>
            </div>


            </form>

        </div>



    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>